body {
  display: grid;
  grid-template-columns: 8em 10em auto 10em 8em;
  grid-template-rows: 25% 100px auto;
}

div.sidebar {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
}

h1.center {
  grid-column-start: 3;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
